*,
*:before,
*:after {
  box-sizing: border-box;
  transition: 0.3s;
}

:root {
    --size-14: 0.875rem;
    --size-24: 1.5rem;
    --size-12: 0.75rem;
    --size-18: 1.125rem;
    --size-10: 0.625rem;
    --color-gray2:#4E5150;
    --color-gray4:#BDBDBD;
    --color-gray1:#E5E5E5;
    --color-gray3: #A9A9A9;
    --fonts-monst: "Montserrat", sans-serif;
}

html {
  font-family: var(--fonts-monst);
}

.wrapper {
  padding: 1.875rem var(--size-12) 1.875rem var(--size-12);
  display: grid;
  place-items: center;
  text-align: center;
}

.user-info {
  margin-bottom: 2.5rem;
}

.user-info__engages {
  display: flex;
  margin-top: var(--size-12);
  justify-content: center;
}

.user-info__personal__image img {
  border-radius: 1rem;
}

.user-info__personal__details {
  display: flex;
  flex-direction: column;
  margin-top: 0.275rem;
}

.user-info__personal__details__name {
  font-size: var(--size-14);
  color: var(--color-gray2);
  margin-bottom: 0.2rem;
}

.user-info__personal__details__location {
  font-size: var(--size-10);
  color: var(--color-gray3);
  font-weight: 600;
}

.user-info__engages__card {
  padding: 10px 0px 10px 0px;
  width: 4.875rem;
  background-color: var(--color-gray1);
  border-radius: var(--size-12);
}

.user-info__engages .user-info__engages__card:nth-child(n+1):nth-child(-n+2) {
  margin-right: var(--size-12);
}

.user-info__engages__card__content {
  display: flex;
  flex-direction: column;
}

.user-info__engages__card__content__number, .user-info__engages__card__content__title {
  font-size: var(--size-12);
}

.user-info__engages__card__content__number {
  color: var(--color-gray2);
}

.user-info__engages__card__content__title {
  color: var(--color-gray4);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 0.5rem;
  row-gap: 1rem;
  max-width: 57.75rem;
}

.gallery img {
  border-radius: var(--size-12);
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  box-shadow: 0px 4px 6px 0 #d4d3d3;
  transition: filter .5s ease;
  filter: blur(5px);
}

.gallery img:hover {
  filter: blur(0) drop-shadow(0 0 10px #d4d3d3);
}

.photo-2 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-end: 1;
}

.photo-3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-end: 2;
}

.gallery .photo-4 {
  grid-row-start: 1;
  grid-row-end: 3;
  box-shadow: none;
}

@media only screen and (min-width: 700px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    max-width: 57.75rem;
  }

  .user-info__personal__image img {
    height: 9.75rem;
    width: 9.75rem;
  }

  .user-info__personal__details__name {
    font-size: var(--size-24);
    margin-bottom: 0.5rem;
  }

  .user-info__personal__details__location {
    font-size: var(--size-14);
  }

  .user-info__personal__details {
    margin-top: 1rem;
  }

  .user-info__engages__card {
    width: 6.25rem;
    height: 4.1875rem;
    padding: 15px 0px 15px 0px;
  }

  .user-info__engages__card__content__number {
    font-size: var(--size-18);
  }
  
  .user-info__engages__card__content__title {
    font-size: var(--size-14);
  }

  .user-info__engages .user-info__engages__card:nth-child(n+1):nth-child(-n+2) {
    margin-right: var(--size-24);
}
}



footer {
  margin-top: 1rem;
  margin-bottom: 1.6rem;
}

.info {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  text-align: center;
}

.info__small {
  color: #bdbdbd;
}

.anchor {
  color: #bdbdbd;
  text-decoration: none;
}

.info__small__user {
  text-decoration: underline;
  font-weight: 700;
  transition: color 0.2s linear;
}

@keyframes rainbow {
  0% {
    color: #fc0303;
  }
  17% {
    color: #45f52a;
  }
  34% {
    color: #2a7bf5;
  }
  51% {
    color: #2af5e4;
  }
  68% {
    color: #c92af5;
  }
  85% {
    color: #f5dd2a;
  }
  100% {
    color: #f200ff;
  }
}

/* CHANGE THE ANIMATION SPEED HERE */
.info__small__user:hover {
  animation-name: rainbow;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
}