*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.2s ease;
}

html {
  scroll-behavior: smooth;
}

.parent-wrapper {
  display: grid;
  justify-content: center;
}

:root {
  --size-14: 0.875rem;
  --size-24: 1.5rem;
  --size-12: 0.75rem;
  --size-18: 1.125rem;
  --size-10: 0.625rem;
  --size-13: 0.8125rem;
  --size-48: 3rem;
  --color-gray2: #4e5150;
  --color-gray4: #bdbdbd;
  --color-gray1: #e5e5e5;
  --color-gray3: #a9a9a9;
  --color-gray5: #333333;
  --color-gray9: #828282;
  --color-gray7: #4f4f4f;
  --color-gray8: #e0e0e0;
  --color-gray6: #f2f2f2;
  --color-main: #2d9cdb;
  --fonts-monst: "Montserrat", sans-serif;
  --fonts-poppins: "Poppins", sans-serif;
}

h1,
p {
  max-width: 17rem;
}

.wrapper {
  padding: var(--size-13) var(--size-10);
  max-width: 1337px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--size-48);
}

.logo {
  font-family: var(--fonts-poppins);
  font-weight: 800;
  color: #333333;
  font-size: var(--size-24);
}

nav ul {
  display: none;
  font-family: var(--fonts-poppins);
}

.menu__nav {
  font-size: 24px;
  list-style: none;
  display: none;
  row-gap: 2rem;
  font-family: var(--fonts-poppins);
  font-weight: 500;
  max-width: 700px;
  width: 100%;
  justify-content: space-between;
  color: #333333;
}

.menu__nav li:first-child {
  /* font-weight: 700; */
  /* border-bottom: 2px solid white; */
  /* padding-bottom: 0.5rem; */
}

li {
  cursor: pointer;
}

li:hover {
  color: rgb(209, 209, 209);
}

.menu--close {
  position: absolute;
  top: 1.2rem;
  fill: #000000;
  right: 1.2rem;
  cursor: pointer;
}

.menu {
  background: #181719;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s linear;
  display: none;
  left: 0;
  opacity: 0;
  animation: fadeIn 0.3s ease;
  z-index: 2;
}

.header__items__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.header__items__container__title {
  background-color: transparent;
  border: none;
  font-family: "Crimson Pro", sans-serif;
  font-size: var(--size-small);
  border: 1px solid white;
  padding: 0.5rem;
}

.header__items__container--menu {
  cursor: pointer;
  fill: #000000;
  position: relative;
}

.header__items__container--nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.home__heading {
  font-family: var(--fonts-poppins);
}

.home__heading__question {
  color: var(--color-main);
  font-size: var(--size-12);
  font-weight: 500;
  /* text-shadow: 1px 0 0px var(--color-main); */
}

.home__heading__h1 {
  color: var(--color-gray5);
  font-weight: 500;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.home {
  margin-bottom: 100px;
}

.home__hero {
  margin-top: 0.93rem;
}

.home__hero__image {
  border-radius: 18px;
  max-width: 100%;
}

.home__info {
  font-family: var(--fonts-poppins);
  margin-top: 22px;
}

.home__info__h1 {
  color: var(--color-gray5);
  font-weight: 500;
  margin-bottom: 20px;
  max-width: 12rem;
}

.home__info__p {
  font-size: var(--size-12);
  color: var(--color-gray7);
  font-weight: 400;
}

.contact {
  margin-top: 30px;
  font-family: var(--fonts-poppins);
}

.contact__title {
  font-size: var(--size-10);
  color: var(--color-gray9);
}

.contact--email {
  width: 100%;
  background-color: #f2f2f2;
  padding: 15px 0 15px 19px;
  border-radius: 12px;
  font-family: inherit;
  border: 2px solid transparent;
  padding-right: 75px;
  font-size: 12px;
  transition: box-shadow 0.3s ease;
}

.contact--email:focus {
  outline: none;
  box-shadow: 0 0 0px 2.5px var(--color-main);
}

.contact--email::placeholder {
  font-size: 16px;
  color: var(--color-gray4);
  font-weight: 500;
}

.contact__button {
  position: absolute;
  right: 4px;
  width: 4.43rem;
  height: 39px;
  border: none;
  background-color: #2d9cdb;
  border-radius: 12px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

.contact__button:hover {
  background-color: #257fb3;
  box-shadow: 0px 0px 12px 2px #2d9cdb9c;
}

.contact__input__container {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 0.4rem;
}

.services {
  font-family: var(--fonts-poppins);
  margin-bottom: 167px;
}

.services__heading h1,
.section-heading {
  color: var(--color-gray5);
  font-weight: 500;
  margin-bottom: 92px;
  font-family: var(--fonts-poppins);
}

.services__cards {
  align-self: end;
  padding-left: 42px;
}

.services__cards__card__design:hover {
  box-shadow: 0 10px 15px 1px #2d9bdb35;
}

.services__cards__card__frontend:hover {
  box-shadow: 0 10px 15px 1px #8cff8c80;
}

.services__cards__card__backend:hover {
  box-shadow: 0 10px 15px 1px #eb57573a;
}

.services__cards__card {
  padding: 39px;
  border-radius: 24px;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: translateZ(0) translateY(0);
}

.shadow-drop:hover {
  transform: translateZ(50px) translateY(-12px);
}

.services__cards__card__icon {
  background-color: #2d9cdb;
  height: 67px;
  width: 67px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.services__cards__card__icon svg {
  width: 36px;
  height: 36px;
  fill: white;
}

.services__cards__card__heading {
  margin-bottom: 24px;
}

.services__cards__card__heading h1 {
  color: var(--color-gray5);
}

.services__cards__card__detail {
  margin-bottom: 30px;
}

.services__cards__card__detail p {
  font-weight: 400;
  color: var(--color-gray7);
}

.services__cards__card__button button {
  padding: 12px 22px;
  border-radius: 12px;
  border: none;
  background-color: #e0e0e0;
  font-weight: 500;
  font-size: 16px;
  font-family: var(--fonts-poppins);
}

.services__cards__card__icon__2 {
  background-color: #27ae60;
}

.services__cards__card__icon__3 {
  background-color: #eb5757;
}

.enabled {
  background-color: #2d9cdb !important;
  color: white;
}

.enabled:hover {
  background-color: #27ae60 !important;
  cursor: pointer;
}

.our-work {
  margin-bottom: 100px;
}

.our-works h1 {
  margin-bottom: var(--size-48);
}

.our-works__showcase {
  display: grid;
  font-family: var(--fonts-poppins);
  row-gap: 50px;
  margin-bottom: 100px;
}

.work {
  display: flex;
  flex-direction: column;
}

.work__image__container {
  border-radius: 24px;
  overflow: hidden;
  cursor: pointer;
}

.work__image__container:hover img {
  transform: scale(1);
}

.work__image__container img {
  transform: scale(1.16);
  max-width: 351px;
  width: 100%;
}

.work__info {
  margin-top: 10px;
}

.work__info__type {
  color: var(--color-gray9);
  font-size: var(--size-12);
  margin-bottom: 5px;
  line-height: 18px;
  font-weight: 300;
}

.work__info__title {
  font-weight: 500;
  color: var(--color-gray5);
  font-size: var(--size-18);
}

.work__see-more {
  display: flex;
  align-items: center;
  column-gap: 12px;
  color: var(--color-main);
  fill: var(--color-main);
  cursor: pointer;
}

.work__see-more:hover svg {
  transform: translateX(10px);
}

.work__see-more span {
  font-size: var(--size-18);
  font-weight: 500;
}

.clients {
  display: flex;
  flex-direction: column;
  font-family: var(--fonts-poppins);
  padding-bottom: 100px;
}

.clients__heading {
  display: grid;
  row-gap: 14px;
  margin-bottom: 36px;
  align-self: flex-start;
}

.clients__heading span {
  font-size: var(--size-18);
  font-weight: 500;
  color: #eb5757;
}

.clients__heading h1 {
  color: var(--color-gray5);
  font-weight: 500;
  font-size: 36px;
  max-width: 20rem;
}

.clients__heading p {
  color: var(--color-gray7);
  font-weight: 400;
}

.clients__showcase {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  justify-items: end;
  margin-bottom: 100px;
}

.clients__showcase img {
  border-radius: var(--size-24);
}

.clients__showcase div {
  display: flex;
  flex-direction: column;
}

.person3 {
  max-width: 178px;
  align-self: center;
}

.person1 {
  margin-bottom: 20px;
  max-width: 144px;
}

.person2 {
  max-width: 172px;
}

.clients__quote {
  margin-bottom: 24px;
  max-width: 23rem;
}

.quote {
  font-size: var(--size-24);
  color: var(--color-gray5);
  font-weight: 500;
}

.clients__CEO {
  display: flex;
  column-gap: 30px;
  align-self: flex-start;
  align-items: center;
}

.clients__CEO img {
  width: 100%;
  max-width: 82px;
  border-radius: 12px;
}

.clients__CEO__info {
  display: flex;
  flex-direction: column;
}

.clients__CEO__info__name {
  font-size: var(--size-24);
  font-weight: 500;
  color: #333333;
  margin-bottom: var(--size-12);
}

.clients__CEO__info__job {
  font-size: var(--size-18);
  font-weight: 500;
  color: var(--color-gray9);
}

footer {
  background-color: #100e1d;
  color: white;
  font-family: var(--fonts-poppins);
  padding: 36px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__content {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 64px;
  margin-bottom: 154px;
}

.footer__content ul li:hover a {
  color: #b6e4ff;
}

footer ul {
  list-style: none;
  font-size: 18px;
  display: flex;
  row-gap: 8px;
  line-height: 200%;
  flex-direction: column;
  align-items: flex-start;
}

.footer__content__media {
  display: grid;
  row-gap: 12px;
}

footer a {
  color: white;
}

a {
  text-decoration: none;
}

.logo-footer {
  font-family: var(--fonts-poppins);
  font-weight: 800;
  color: #ffffff;
  font-size: 36px;
}

.footer__content__media__icons {
  display: flex;
  column-gap: 11px;
  margin-top: 12px;
}

q:before,
q:after {
  content: "";
}

.footer__content__media__icons svg {
  cursor: pointer;
}

.footer__content__media__icons svg:hover g path {
  fill: var(--color-main);
}

.info {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  text-align: center;
}

.info__small {
  color: #c2c2c2;
}

.anchor {
  color: #c2c2c2;
  text-decoration: none;
}

.info__small__user {
  text-decoration: underline;
  font-weight: 700;
  transition: color 0.2s linear;
}

@keyframes rainbow {
  0% {
    color: #fc0303;
  }
  17% {
    color: #45f52a;
  }
  34% {
    color: #2a7bf5;
  }
  51% {
    color: #2af5e4;
  }
  68% {
    color: #c92af5;
  }
  85% {
    color: #f5dd2a;
  }
  100% {
    color: #f200ff;
  }
}

.info__small__user:hover {
  animation-name: rainbow;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
}

@media only screen and (min-width: 890px) {
  .logo {
    font-size: 36px;
  }

  .header__items__container--menu {
    display: none;
  }

  .header__items__container--nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .header__items__container {
    justify-content: flex-end;
  }

  .header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .menu__nav {
    max-width: 600px;
    width: 100%;
    justify-content: space-between;
    color: #333333;
    display: flex;
    font-size: 24px;
  }

  .menu__nav a {
    color: #333333;
    transition: all 0.3s ease;
  }

  .menu__nav li:hover a {
    text-shadow: 19px 19px 3px #007bff;
    color: transparent;
  }

  .wrapper {
    padding: 42px 52px;
  }

  .home__heading__question {
    font-size: var(--size-18);
  }

  .home__heading__h1 {
    font-size: 48px;
    line-height: 72px;
  }

  h1,
  p {
    max-width: 30rem;
  }

  .home__heading {
    margin-bottom: 20px;
  }

  .spaceLeft {
    padding-left: 220px;
    align-self: flex-start;
  }

  .home__info__h1 {
    font-size: 48px;
    max-width: 20rem;
  }

  .home__info__p {
    font-size: var(--size-18);
    max-width: 24rem;
    line-height: 1.4;
  }

  .contact {
    width: 100%;
    max-width: 580px;
  }

  .contact--email::placeholder,
  .contact--email {
    font-size: 18px;
  }

  .contact__title {
    font-size: 14px;
    margin-bottom: 14px;
  }

  .services__heading h1 {
    font-size: 36px;
  }

  .services {
    display: grid;
    width: 100%;
  }

  .services__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    place-items: center;
    grid-column-gap: 2rem;
  }

  .services__cards__card__detail p {
    max-width: 17rem;
    line-height: 1.35;
  }

  .services__heading h1 {
    padding-left: 3rem;
    max-width: 23rem;
  }

  .section-heading {
    font-size: 36px;
    align-self: flex-start;
  }

  .our-works__showcase {
    column-gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
  }

  .work:first-child,
  .work:nth-child(3) {
    margin-top: 10rem;
  }

  .work__image__container img {
    max-width: 545px;
  }

  .work__see-more {
    justify-content: flex-end;
    grid-column: 2;
    transform: translate(0, -70px);
  }

  .work__info {
    margin-top: 18px;
  }

  .work__info__type {
    font-size: var(--size-14);
  }

  .work__info__title {
    font-size: var(--size-24);
  }

  .clients__heading {
    max-width: 16rem;
    align-self: auto;
  }

  .clients__heading__showcase__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .person3 {
    max-width: 320px;
  }

  .person1 {
    max-width: 260px;
  }

  .person2 {
    max-width: 291px;
  }

  .quote {
    font-size: 36px;
  }

  .clients__quote {
    max-width: 50rem;
    align-self: flex-start;
    margin-bottom: 36px;
  }

  .clients {
    width: 100%;
  }

  .footer__content {
    max-width: 1337px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
  }

  footer .contact__title {
    color: white;
  }

  .contact__button {
    width: 6.43rem;
    height: 49px;
    font-size: 18px;
  }

  footer {
    padding: 46px 52px;
  }

  .home {
    margin-top: 50px;
  }

  .contact--email {
    padding-right: 110px;
  }
}

@media only screen and (min-width: 890px) and (max-width: 930px) {
  .services__cards__card__backend {
    grid-column: 1/3;
  }
}

@media only screen and (min-width: 890px) and (max-width: 995px) {
  .clients__heading__showcase__container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 400px) {
  .clients__showcase {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .clients__showcase div {
    align-items: center;
  }

  .person2 {
    order: 1;
    margin-top: 10px;
  }

  .person1 {
    margin-top: 10px;
    order: 2;
  }
}

.turnDark {
  position: absolute;
  bottom: 0;
  z-index: 1;
  top: 0;
  background-color: #2b2b2bfc;
  left: 0;
}

.hideOverflow {
  overflow: hidden;
}

.close {
  position: absolute;
  right: 0;
  opacity: 0;
}

.burgerSvgLight {
  fill: white;
  opacity: 1;
}

.burgerContainer {
  position: absolute;
  right: 10px;
  z-index: 3;
  top: 13px;
}

.changeMenuNav {
  display: flex;
  padding-left: 20%;
  background: -webkit-linear-gradient(#00ffd0, #3a16ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #b75c5c00;
  flex-direction: column;
  justify-content: center;
}

.lowOpacity {
  opacity: 0;
}
